# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# PHP vendor (if you later add Composer)
vendor/

# Local env files
.env
.env.*

# Local DB dumps
*.sql.dump
*.dump

# Cache
.cache/

# License keys
/license.key

# word documents
*.docx
*.doc